[Desktop Entry]
Type=Application
Name=Dodger
Exec=asteroid-dodger
Icon=asteroid-dodger
X-Asteroid-Needs-Repaint=true
Comment=A fun dodging game for AsteroidOS
